:root {
  --md-sys-color-primary: rgb(255 211 194);
  --md-sys-color-surface-tint: rgb(255 181 152);
  --md-sys-color-on-primary: rgb(71 22 1);
  --md-sys-color-primary-container: rgb(202 125 94);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(254 211 195);
  --md-sys-color-on-secondary: rgb(56 32 22);
  --md-sys-color-secondary-container: rgb(173 137 123);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(234 221 162);
  --md-sys-color-on-tertiary: rgb(44 38 0);
  --md-sys-color-tertiary-container: rgb(156 145 93);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(26 17 14);
  --md-sys-color-on-background: rgb(241 223 217);
  --md-sys-color-surface: rgb(26 17 14);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(83 67 62);
  --md-sys-color-on-surface-variant: rgb(238 216 208);
  --md-sys-color-outline: rgb(194 174 166);
  --md-sys-color-outline-variant: rgb(159 140 133);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(241 223 217);
  --md-sys-color-inverse-on-surface: rgb(50 40 36);
  --md-sys-color-inverse-primary: rgb(115 55 29);
  --md-sys-color-primary-fixed: rgb(255 219 206);
  --md-sys-color-on-primary-fixed: rgb(38 7 0);
  --md-sys-color-primary-fixed-dim: rgb(255 181 152);
  --md-sys-color-on-primary-fixed-variant: rgb(92 38 13);
  --md-sys-color-secondary-fixed: rgb(255 219 206);
  --md-sys-color-on-secondary-fixed: rgb(32 12 4);
  --md-sys-color-secondary-fixed-dim: rgb(231 190 174);
  --md-sys-color-on-secondary-fixed-variant: rgb(74 48 37);
  --md-sys-color-tertiary-fixed: rgb(240 227 168);
  --md-sys-color-on-tertiary-fixed: rgb(21 17 0);
  --md-sys-color-tertiary-fixed-dim: rgb(212 199 142);
  --md-sys-color-on-tertiary-fixed-variant: rgb(62 54 11);
  --md-sys-color-surface-dim: rgb(26 17 14);
  --md-sys-color-surface-bright: rgb(77 66 62);
  --md-sys-color-surface-container-lowest: rgb(13 6 4);
  --md-sys-color-surface-container-low: rgb(37 28 24);
  --md-sys-color-surface-container: rgb(48 38 34);
  --md-sys-color-surface-container-high: rgb(59 48 44);
  --md-sys-color-surface-container-highest: rgb(70 59 55);
}


*, *::before, *::after { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
    background: var(--md-sys-color-background);
}

body {
    color: var(--md-sys-color-on-background);
}

.cabecalho-navegacao nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  padding-top: 1.5vw;
  padding-right: 1.5vw;
  padding-bottom: 1vw;
  border-bottom: 0.2vw solid var(--md-sys-color-outline);
}

.opcoes-cabecalho {
  display: flex;
  gap: 1vw;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.logo {
  text-decoration: none;
  color: var(--md-sys-color-on-background);
  font-size: clamp(1.1rem, 2.8vw, 3rem);
  padding: 0 5vw 0 2.5vw;
}

a {
  text-decoration: none;
  color: var(--md-sys-color-on-background);
}

a:hover {
  color: var(--md-sys-color-surface-tint);
} 

.bloco-formulario {
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 1.1vw;
  border: var(--md-sys-color-secondary) 0.2vw solid;
  width: 75%;
  margin: 5vw auto;
  padding-bottom: 0.8vw;
}

.cabecalho-formulario {
  top: 0;
  left: 0;
  width: 100%;
  font-size: clamp(1.25rem, 2.5vw, 2.5rem);
  font-weight: bold;
  border-radius: 1vw 1vw 0 0;
  padding: 0.8vw 1vw;
  background: var(--md-sys-color-secondary);
}

.cabecalho-formulario h1 {
  background: var(--md-sys-color-secondary);
  color: var(--md-sys-color-on-secondary);
  text-align: left;
  margin-top: 0;
}

.campos-formulario {
  padding: 1vw 1.5vw 0 1.5vw;
}

.campo {
  margin: 1vw auto;
  width: 100%;
}

.campo label {
  font-size: clamp(1rem, 2vw, 1.8rem);
}

input {
  display: block;
  border-radius: 0.5vw;
  border: var(--md-sys-color-outline) 0.2vw solid;
  padding: 0.5vw 1vw;
  background: transparent;
  color: var(--md-sys-color-on-background);
  font-size: clamp(1rem, 1.8vw, 1.6rem);
  width: 100%;
}

input:hover {
  outline: var(--md-sys-color-outline) 0.2vw solid;
  cursor: pointer;
}

input:focus {
  outline: var(--md-sys-color-outline) 0.2vw solid;
}

.botaoCadastro {
  display: block;
  margin-left: auto;
  padding: 1vw;
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
  font-size: 0.9rem;
  font-weight: bold;
  border: transparent 0.3vw solid;
  border-radius: 20px;
  box-shadow: 0px 0px 2px 1px rgba(52, 49, 48, 0.2);
  cursor: pointer;
}

.botaoCadastro:hover {
  border: var(--md-sys-color-outline) 0.3vw solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead tr {
  background-color: var(--md-sys-color-surface);
  font-size: clamp(0.9rem, 1.6vw, 1.4rem);
  font-weight: bold;
}

td {
  padding: 0.6vw;
}

tr:hover {
  background-color: var(--md-sys-color-inverse-on-surface);
}

thead th {
  text-align: center;
  padding: 0.8vw;
}

.novoCadastro {
  display: flex;
  width: 15%;
  margin-bottom: 0.5vw;
  margin-left: 80%;
  padding: 0.8vw;
  background-color: var(--md-sys-color-outline);
  color: var(--md-sys-color-on-primary-container);
  font-size: clamp(0.9rem, 1.5vw, 1.3rem);
  font-weight: bold;
  border: none;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.novoCadastro:hover {
  transform: translateY(-2px);
  color: var(--md-sys-color-on-primary-container);
}

h1 {
  font-size: clamp(1.5rem, 3.2vw, 3rem);
  text-align: center;
  margin-top: 2vw;
}

p {
  font-size: clamp(1rem, 1.8vw, 1.5rem);
  text-align: center;
  margin: 2vw 6vw;
}

.colunas-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2vw auto;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin-top: 3.2vw;
}

.botao-index {
  position: relative;
  margin: 0.2vw 2vw 0.2vw 2vw;
  border: 3px solid var(--md-sys-color-outline);
  border-radius: 5px;
  padding: 2vw;
  width: 80%;
}

.botao-index:hover {
  transform: translateY(-2px);
}

.botao-index h3 {
  font-size: clamp(1.25rem, 2.5vw, 2.2rem);
  text-align: center;
}

.botao-index p {
  font-size: clamp(0.95rem, 1.5vw, 1.3rem);
  text-align: center;
}

.coluna-acoes {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 0.5vw;
}

td a {
  text-decoration: none;
  font-size: clamp(1.3rem, 1.5vw, 1.8rem);
  color: var(--md-sys-color-on-background);
}

td a:hover {
  transform: translateY(-2px)
}

.excluir {
  background: none;
  border: none;
  font-size: clamp(1.3rem, 1.5vw, 1.8rem);
  color: var(--md-sys-color-on-background);
}

.excluir:hover {
  transform: translateY(-2px);
  cursor: pointer;
}

.mensagem {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  text-align: left;
  padding: 0.5vw;
}

.mensagem-sucesso {
  color: var(--md-sys-color-tertiary);
  border-left: 4px solid var(--md-sys-color-tertiary);
}

.mensagem-erro {
  color: var(--md-sys-color-error);
  border-left: 4px solid var(--md-sys-color-error);
}