<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Gestão de Clientes</title>
    </head>

    <body>
        <header>
            
            <div class="cabecalho-navegacao">

                <nav>
                    <div class="logo">
                        <a href="/">Restaurante</a>
                    </div>

                    <a href="/cliente" class="opcao-cabecalho">Cadastrar Clientes</a>
                    <a href="/pedido" class="opcao-cabecalho">Cadastrar Pedidos</a>
                    <a href="/listar-clientes" class="opcao-cabecalho">Listar Clientes</a>
                    <a href="/listar-pedidos" class="opcao-cabecalho">Listar Pedidos</a>
                </nav>
            </div>

            <div class="bloco-formulario">
                <div class="cabecalho-formulario">
                    <h2>Cadastrar Cliente</h2>
                </div>

                <div class="campos-formulario">

                    <div class="campo">
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" name="nome" placeholder="Ex: João da Silva" required>
                    </div>

                    <div class="campo">
                        <label for="email">Email</label>
                        <div class="input">
                            <input type="email" id="email" name="email" placeholder="Ex: joao@exemplo.com" required>
                        </div>
                    </div>

                    <div class="campo">
                        <label for="telefone">Telefone</label>
                        <div class="input">
                            <input type="tel" id="telefone" name="telefone" placeholder="Ex: (11) 91234-5678" required>
                        </div>
                    </div>

                </div>
            </div>

        </header>
    </body>

</html>