<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Gestão de Clientes</title>
    </head>

    <body>
        <header>
            
            <div class="cabecalho-navegacao">

                <nav>
                    <div class="logo">
                        <a href="/">Restaurante</a>
                    </div>

                    <a href="/cliente" class="opcao-cabecalho">Cadastrar Clientes</a>
                    <a href="/pedido" class="opcao-cabecalho">Cadastrar Pedidos</a>
                    <a href="/listar-clientes" class="opcao-cabecalho">Listar Clientes</a>
                    <a href="/listar-pedidos" class="opcao-cabecalho">Listar Pedidos</a>
                </nav>
            </div>

        </header>
    </body>

</html>